.more-testimonial-New{
    border: 2px solid #e7e2e2;
    border-radius: 14px;
    position: relative;
    bottom: 100px;
    left: 73px;
    width: 76%;
    padding: 20px 24px 28px 28px;
}
.testimon-content-New {
    font-family: sans-serif;
    color: #5e6282;
    margin-top: 5px;
    line-height: 22px;
    letter-spacing: 0.2px;
}
.back-one-New {
    filter: opacity(0.0);
}
.testimon-name-New {
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 40px;
}
.testimon-place-New {
    font-family: sans-serif;
    font-size: 14px;
    color: #5e6282;
    margin-top: 5px;
}
.testimonial.active{
    opacity: 1;
    z-index: 3;
    border: 2px solid #ffffff;
    border-radius: 14px;
    position: relative;
    bottom: 175px;
    left: 51px;
    width: 76%;
    padding: 20px 24px 28px 28px;
}
.testimonial.hidden{
    border: 2px solid #e7e2e2;
    border-radius: 14px;
    position: relative;
    bottom: 100px;
    left: 73px;
    width: 76%;
    padding: 20px 24px 28px 28px;
}
